<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
        <h2 class="header-title"> Sobre </h2><hr>
        <Br>
        <p class="text-justify">
        	O Portal de Dados Abertos da Universidade Federal de Pernambuco oferece dados públicos que podem ser livremente acessados e utilizados por toda a comunidade. Os dados disponíveis no portal são publicados seguindo <a href="https://www.w3.org/TR/dwbp/" target="_blank">boas práticas internacionais</a> e englobam diferentes categorias: dados acadêmicos, administrativos e orçamentários. 
        	<br><Br>
			O Portal de Dados Abertos é de responsabilidade da <a href="http://procit.ufpe.br" target="_blank">PROCIT</a>, sendo mantido pelo Laboratório de Dados e Informações (<a href="http://www.aladin.ufpe.br" target="_blank">aladin</a>) e pelo Núcleo de Tecnologia da Informação (<a href="http://nti.ufpe.br" target="_blank">NTI</a>) da UFPE. Para a publicação dos conjuntos de dados, é utilizado o <a href="http://www.iago.ufpe.br" target="_blank">Iago</a>, um Sistema Gerenciador de Dados na Web (SGDW). O Iago permite um gerenciamento mais completo dos dados publicados, englobando todas as etapas do ciclo de vida dos dados na Web (abaixo).
			<br>
			<br>
			<center><img src="assets/images/ciclo-de-vida-os-autores.png" /></center>
			<br>
			<br>		
		</p>

    </div>
  </div>
  <div class="row">
  	<div class="col-md-12 text-center">
        <h2 class="header-title"> Guia de Uso do Portal </h2><hr>
        <Br>
        <p class="text-justify">



<div ng-controller="AccordionDemoCtrl">
  <script type="text/ng-template" id="group-template.html">
    <div class="panel-heading">
      <h4 class="panel-title" style="color:#fa39c3">
        <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
          <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
            {{heading}}
          </span>
        </a>
      </h4>
    </div>
    <div class="panel-collapse collapse" uib-collapse="!isOpen">
      <div class="panel-body" style="text-align: right" ng-transclude></div>
    </div>
  </script>

  <p>
    <button type="button" class="btn btn-default btn-sm" ng-click="status.open = !status.open">Toggle last panel</button>
    <button type="button" class="btn btn-default btn-sm" ng-click="status.isFirstDisabled = ! status.isFirstDisabled">Enable / Disable first panel</button>
  </p>

  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="oneAtATime">
      Open only one at a time
    </label>
  </div>
  <uib-accordion close-others="oneAtATime">
    <div uib-accordion-group class="panel-default" heading="Static Header, initially expanded" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
      This content is straight in the template.
    </div>
    <div uib-accordion-group class="panel-default" heading="{{group.title}}" ng-repeat="group in groups">
      {{group.content}}
    </div>
    <div uib-accordion-group class="panel-default" heading="Dynamic Body Content">
      <p>The body of the uib-accordion group grows to fit the contents</p>
      <button type="button" class="btn btn-default btn-sm" ng-click="addItem()">Add Item</button>
      <div ng-repeat="item in items">{{item}}</div>
    </div>
    <div uib-accordion-group class="panel-default" heading="Custom template" template-url="group-template.html">
      Hello
    </div>
    <div uib-accordion-group class="panel-default" is-open="status.isCustomHeaderOpen" template-url="group-template.html">
      <uib-accordion-heading>
        Custom template with custom header template <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isCustomHeaderOpen, 'glyphicon-chevron-right': !status.isCustomHeaderOpen}"></i>
      </uib-accordion-heading>
      World
    </div>
    <div uib-accordion-group class="panel-danger" heading="Delete account">
      <p>Please, to delete your account, click the button below</p>
      <button class="btn btn-danger">Delete</button>
    </div>
    <div uib-accordion-group class="panel-default" is-open="status.open">
      <uib-accordion-heading>
        I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
      </uib-accordion-heading>
      This is just some content to illustrate fancy headings.
    </div>
  </uib-accordion>
</div>

<section class="site-content site-section-mini site-section-light">
    <div class="container  text-center">
        <h2 class="site-heading h3 site-block themed-background-social label" style="font-size: 30px; padding: 8px">
            <i class="fa fa-comments-o"></i> <a class="accordion-toggle" data-toggle="collapse" href="#faq2" aria-expanded="true"><strong style="color: white">Funcionalidades do Sistema</strong></a>
        </h2>
    </div>
</section>

<section class="" style="padding: 0px">
    <div class="container">
        <div class="">
            <div class="col-md-8 col-md-offset-2">
                <div id="faq2" class="panel-group panel-collapse collapse in" aria-expanded="true" style="">
                    <br>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <i class="fa fa-angle-right"></i> <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#faq2" href="#faq2_q1" aria-expanded="false"><strong> Fiz meu cadastro mas não recebi o e-mail de confirmação</strong></a>
                            </div>
                        </div>
                        <div id="faq2_q1" class="panel-collapse collapse" aria-expanded="false">
                            <div class="panel-body">Para acessar o sistema, é necessário validar o e-mail informado no cadastro. Certifique-se que o e-mail foi informado corretaemnte e use a opção para reenviar seu código de acesso.</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


		</p>

    </div>
  </div>
</div>